@using OrganizacionEventos.Shared.Entities;
@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnSubmit="OnSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>ID:</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@EmployeeEvent.Id" />
            <ValidationMessage For="@(() => EmployeeEvent.Id)" />
        </div>
        <label>Empleado ID:</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@EmployeeEvent.EmployeeId" />
            <ValidationMessage For="@(() => EmployeeEvent.EmployeeId)" />
        </div>
        <label>Evento ID:</label>
        <div>
            <InputNumber class="form-control" @bind-Value="@EmployeeEvent.EventId" />
            <ValidationMessage For="@(() => EmployeeEvent.EventId)" />
        </div>
        <label>Fecha Asignaciòn:</label>
        <div>
            <InputText class="form-control" @bind-Value="@EmployeeEvent.AssignmentDate" />
            <ValidationMessage For="@(() => EmployeeEvent.AssignmentDate)" />
        </div>
        <label>Rol Empleado:</label>
        <div>
            <InputText class="form-control" @bind-Value="@EmployeeEvent.EmployeeRole" />
            <ValidationMessage For="@(() => EmployeeEvent.EmployeeRole)" />
        </div>


    </div>

    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>

@code {
    private EditContext editContext = null!;

    protected override void OnInitialized()
    {
        editContext = new(EmployeeEvent);
    }

    [EditorRequired]
    [Parameter]
    public EmployeeEvent EmployeeEvent { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formWasEdited = editContext.IsModified();

        if (!formWasEdited)
        {
            return;
        }

        if (FormPostedSuccessfully)
        {
            return;
        }

        var result = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirm = !string.IsNullOrEmpty(result.Value);

        if (confirm)
        {
            return;
        }

        context.PreventNavigation();
    }
}

